version: "3.8"
services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8001:8001"
    volumes:
      - ./backend:/app

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        VITE_API_BASE: "http://backend:8001"
    ports:
      - "5175:80"
    depends_on:
      - backend
    environment:
      - VITE_API_BASE=http://backend:8001
